@font-face {
    font-family: riffic;
    src: url(../font/ofont.ru_Riffic.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: riffic;
}

p {
    color: white;
    text-shadow: 0 0 3px black, 0 0 2px black;
}

body {
    overflow: hidden;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}

.coin {
    position: relative;
    display: flex;
    align-items: center;
    width: 150px;
    left: -15px;
}

.coin>p {
    z-index: 10;
    position: absolute;
    right: -10px;
    font-size: 17px;
}

.coin>svg {
    width: 80px;
    height: max-content;
    z-index: 2;
}

.coins_text {
    position: absolute;
    width: 100%;
    background-color: black;
    height: 34px;
    opacity: 0.4;
    left: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-weight: 900;
    font-size: 25px;
}

.coins_text>p {
    margin-right: 5px;
}

.boosters {
    position: absolute;
    right: 0;
    width: 90px;
    top: 20%;
    display: flex;
    gap: 25px;
    flex-direction: column;
    z-index: 20;
}

.booster {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.booster>img {
    width: 90px;
    height: 103px;
}

.booster_counter {
    bottom: 6px;
    position: absolute;
    font-size: 13px;
}

.plant_selector {
    background-image: url(../img/Green_Plant_New2.png);
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 80px;
    background-color: #99cbff;
    border-radius: 20px;
}

.plant_selector:hover {
    border: 5px solid #00bfff;
}

.footer_icons {
    margin: 15px;
    cursor: pointer;
}

.footer_icons>img {
    max-width: 40px;
    height: max-content;
    width: 100%;
}

.background_layer {
    width: 100%;
    height: 100vh;
}

#background_layer1 {
    background-image: url(../img/bg/sky+hills.png);
    background-size: cover;
}

/* #background_layer2 {
    background-image: url(../img/bg/green.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 70px center;
} */

#background_layer2 {
    background-image: url(../img/bg/table.png);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: bottom;
    /* background-position-y: 82vh; */
}

#background_layer3 {
    background-image: url(../img/bg/cloud3333333s.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 15%;
}

#coins {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#gram_cryptocurrency>svg {
    width: 60px;
}

#sign {
    position: absolute;
    bottom: 16vh;
    left: 20px;
    width: 80px;
    display: flex;
    justify-content: center;
}

#sign>svg {
    width: 90px;
    height: 120px;
}

#height_counter {
    position: absolute;
    top: 30px;
    font-size: 11px;
}

#plant_container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 12vh;
}

#water_pouring {
    position: fixed;
    width: 270px;
    right: 0;
}

#plant {
    /* max-width: 250px; */
    width: 30vh;
}

#plant_selector {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 9vh;
    cursor: pointer;
}

#plant_selector_closed {
    display: flex;
    justify-content: center;
    align-items: center;
}

#plant_selector_tab {
    width: max-content;
    height: 100px;
    /* height: max-content;*/
}

#plant_selector_icon {
    position: absolute;
    width: 70%;
}

#plant_selector_body {
    position: relative;
    display: none;
    width: 100vw;
    height: 100px;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    top: 0;
}

#footer_water {
    position: relative;
    bottom: 8px;
}

#footer_water>p {
    position: absolute;
    right: 0;
    font-size: 25px;
    font-weight: 900;
    color: white;
    text-shadow: 0 0 4px black;
    top: 0;
}

#footer_water>img {
    width: 92px;
    height: 92px;
    max-width: unset;
}
